<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="navigateTo('portada')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Portada</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('gastos')">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Gastos</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('ingresos')">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>Ingresos</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido de la página de ingresos -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresos de {{ currentMonth }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="white-background">
  <div class="header-section">
    <h2>Total Ingresos</h2>
    <p class="total-amount">${{ totalIncome | number: '1.2-2' }}</p>
  </div>

  <div class="form-container">
    <ion-item class="form-item">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input placeholder="Escribe aquí" [(ngModel)]="newIncomeDescription"></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="stacked">Monto</ion-label>
      <ion-input placeholder="0.00" [(ngModel)]="newIncomeAmount" type="number" min="0"></ion-input>
    </ion-item>
    <ion-button expand="full" class="action-button" (click)="addIncome()">Agregar Ingreso</ion-button>
  </div>

  <ion-list>
    <!-- Lista de ingresos añadidos con opción de eliminar deslizando -->
    <ion-item-sliding *ngFor="let income of incomes; let i = index">
      <ion-item class="income-item">
        <ion-input placeholder="Descripción" [(ngModel)]="income.description" style="color: black;"></ion-input>
        <ion-input placeholder="Monto" [(ngModel)]="income.amount" type="number" style="color: black;"></ion-input>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeIncome(i)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
