ion-content {
  --background: #F5F6FA; /* Fondo suave */
}

/* Sección del encabezado */
.header-section {
  text-align: center;
  margin-top: 20px;
}

.header-section h2 {
  color: #000; /* Texto "Total Ingresos" en negro */
}

.summary-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.total-amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0CB7F2;
}

/* Estilo del formulario */
.form-container {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.form-item {
  margin-bottom: 15px;
}

/* Estilo de los inputs y select */
ion-item {
  --background: transparent !important; /* Asegurar fondo transparente en ion-item */
  --inner-background: white; /* Fondo blanco para el contenido del input */
}

ion-input, ion-select {
  --background: #ffffff !important; /* Fondo blanco para los inputs */
  --padding-start: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: none; /* Eliminar sombras alrededor de las casillas */
  font-size: 1.1rem;
  color: #000; /* Texto visible en negro */
}

ion-input {
  --background: #ffffff !important; /* Forzar fondo blanco en los inputs */
}

/* Estilo de los botones */
.action-button {
  margin: 20px 0;
  background-color: #0CB7F2;
  border-radius: 20px;
  color: white;
  font-size: 1.1rem;
}

/* Estilo de los ítems (gastos e ingresos) */
.expense-item, .income-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
}
