<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor del logo -->
  <div class="logo-container">
    <img src="assets/img/LOGO_FUNDFLOE.jpg" alt="Logo de la App" class="logo" />
  </div>

  <ion-content>
    <form (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Recuperar</ion-button>
    </form>
  </ion-content>
  
  <!-- Botón de Cancelar -->
  <ion-button expand="block" fill="clear" (click)="cancel()" class="cancel-button">Cancelar</ion-button>

</ion-content>
