<ion-header>
  <ion-toolbar color="light">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signup-container">
    <div class="avatar-container">
      <ion-avatar>
        <img src="assets/avatar.png" />
      </ion-avatar>
      <ion-icon name="add-circle" class="nick-name"></ion-icon>
    </div>

    <ion-item>
      <ion-input placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" placeholder="Correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="tel" placeholder="Celular"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>I accept all terms and conditions</ion-label>
    </ion-item>

    <ion-button expand="block" color="primary">SIGN IN</ion-button>

  </div>
</ion-content>
