<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Finanzas de {{ currentMonth }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Gastos principales</ion-label>
    </ion-item>

    <!-- Listado de categorías de gasto -->
    <ion-item *ngFor="let category of topSpending; let i = index">
      <ion-label class="text-start">{{ category.category }}</ion-label>
      <ion-input class="text-end" [(ngModel)]="category.amount" placeholder="0" type="number"></ion-input>
      <ion-button color="danger" (click)="removeCategory(i)" slot="end">Eliminar</ion-button>
    </ion-item>

    <!-- Botón para agregar una nueva categoría de gasto -->
    <ion-item>
      <ion-button expand="full" (click)="addCategory()">Agregar Gasto</ion-button>
    </ion-item>

    <!-- Casilla del total de gastos -->
    <ion-item>
      <ion-label class="text-start">Total de Gastos del Mes</ion-label>
      <ion-input class="text-end" [value]="calculateTotal()" readonly></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
