<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Finanzas de {{ currentMonth }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="white-background">
  <div class="header-section">
    <!-- Mostrar el saludo de bienvenida -->
    <h2 class="welcome-message">¡Bienvenido, {{ username }}!</h2>
    <p class="subtitle">Toma el control de tus finanzas.</p>
  </div>

  <!-- Nueva card para el resumen mensual -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen del Mes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Ingresos Totales: {{ totalIngresos | number:'1.0-0' }} CLP</p>
      <p>Gastos Totales: {{ totalGastos | number:'1.0-0' }} CLP</p>
      <p>Balance del Mes: {{ balanceMensual | number:'1.0-0' }} CLP</p>
    </ion-card-content>
  </ion-card>

  <!-- Sección para ingresar montos y realizar conversiones -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Conversión de Moneda</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Input para monto en pesos chilenos -->
      <ion-item>
        <ion-label position="floating">Monto en CLP (Pesos Chilenos)</ion-label>
        <ion-input [(ngModel)]="clpAmount" (ionInput)="convertFromCLP()" type="number"></ion-input>
      </ion-item>
      <p>Equivalente en Dólares: {{ usdAmount | number:'1.2-2' }} USD</p>

      <!-- Input para monto en dólares -->
      <ion-item>
        <ion-label position="floating">Monto en USD (Dólares)</ion-label>
        <ion-input [(ngModel)]="usdAmount" (ionInput)="convertFromUSD()" type="number"></ion-input>
      </ion-item>
      <p>Equivalente en Pesos Chilenos: {{ clpAmount | number:'1.0-0' }} CLP</p>
    </ion-card-content>
  </ion-card>

  <!-- Card para mostrar el valor del dólar y el euro en tiempo real -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Valor en Tiempo Real</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Valor del Dólar (USD): {{ dollarValue | number:'1.0-0' }} CLP</p>
      <p>Valor del Euro (EUR): {{ euroValue | number:'1.2-2' }} EUR</p>
    </ion-card-content>
  </ion-card>

  <!-- Botones para navegar a otras páginas -->
  <ion-button expand="full" class="action-button" (click)="navigateTo('gastos')">
    Ver Gastos
  </ion-button>
  <ion-button expand="full" class="action-button" (click)="navigateTo('ingresos')">
    Ver Ingresos
  </ion-button>
</ion-content>
