<ion-header>
  <ion-toolbar>
    <ion-title>FUNDFLOE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <p *ngIf="data.user.usuario">Bienvenido {{ data.user.usuario }}  </p></div>

  <div class="icons-container">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let icon of icons">
          <ion-card>
            <ion-card-content>
              <ion-icon [name]="icon.name" class="icon"></ion-icon>
              <p>{{ icon.title }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
  </ion-toolbar>
</ion-footer>
